// info gaming hours location
// about-container about-content

.about-container {
  width: 100%;
}
.about-content {
  width: 80%;
  margin: 0 auto;
  display: flex;
  div {
    flex: 1;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    border: 1px solid black;
  }
}
// .gaming,
// .info,
// .hours,
// .location {
//   position: relative;
// }
.gaming {
  position: relative;
  top: -50px;
  img {
    width: 70%;
    border-radius: 5%;
  }
}
.info {
  position: relative;
  top: -25px;
}
.hours {
  position: relative;
}
.location {
  position: relative;
  top: 25px;
}

// .gaming {
//   flex: 2;
// }
